body {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1  {
  font-family: Rubik;
  font-size: 6em;
  margin: 0;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

td {
  font-family: Rubik;
  font-size: 2em;
  width:4.5vw;
  height: 4.5vw;
  text-align: center;
  border-radius: 5%;
  border: 5px solid Black;
}